.container-css {
    z-index: 1;
    position: relative;
    margin: auto;
    width: 75%;
    padding: 20px;
}

.mini {
    width: 100%;
    margin-bottom: 20px;
}

.mini:hover {
    cursor: pointer;
}

.big {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color:rgba(0,0,0,0.9);
}

.img-container {
    display: flex;
    margin: auto;
}

.bigimg {
    position: relative;
    display: flex;
    margin: auto;
    opacity: 1;
    height: 400px;
    width: 400px;
    border: 1em solid white;
}

.button {
    /*position: absolute;*/
    margin: auto;
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255,255,255,0.9);
    color: black;
    cursor: pointer;
}


.button .content {
    margin: auto;
    display: flex;
    text-align: center;
}


.leftbtn {
    position: absolute;
    top: 50%;
    left: 1%;
}

.rightbtn {
    position: absolute;
    top: 50%;
    right: 1%;
}
