body {
  background: #FFFDFA;
}

.bookingMain {
    margin: 0;
    height: 500px;
}

.bookingFieldset {
    background: #F1F1F1;
    margin: 15px auto;
    padding: 0 15px 15px 15px;
    border-radius: 5px;
}

.bookingFieldset input, select {
    width: 100%;
    border-radius: 2px;
    box-shadow: none;
    border: 0;
    padding-left: 10px;
    /*margin-bottom: 10px;*/
}

.bookingFieldset select {

}

.submitButton {
    margin-top: 15px;
    background-color: #39B647;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.bookingSecondary {
    /*margin: 15px;*/
    padding: 0;
    box-sizing: content-box;
}

.bookingSecondary div {
    padding: 15px 15px 0 0;
}
.bookingSecondary div div {
    width: 96%;
    height: 102.5px;
    background: #F1F1F1;
    border-radius: 5px;
}

.bookingSecondary2 {
    /*margin: 15px;*/
    padding: 0;
    box-sizing: content-box;
}

.bookingSecondary2 div {
    padding: 15px 15px 0 0;
}
.bookingSecondary2 div div {
    width: 96%;
    height: 15.2vh;
    background: lightgreen;
    border-radius: 5px;
}

.temp {
  height: 500px;
}

.ccform {
   margin: 0 auto;
    width: 800px;

}
.ccfield-prepend{
  margin-bottom:10px;
  width:100%;
    float: left;


}

.ccform-addon{
  color:#f8ae45;
  float:left;
  padding:8px;
  width:8%;
  background:#FFFFFF;
  text-align:center;
}

.ccformfield {
  color:#000000;
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
}

.ccformfield {
  font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
  display:block;
  border:none;
  background:#f8ae45;
  color:#FFFFFF;
  padding:12px 25px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
    float: right;

}
.ccbtn:hover{
  background:#d8850e;

}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px;
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}

.testpadding {
  padding: 0;
}

label {
    margin-top: 10px;
}

/* Val av rum */
.available-rooms {
    background: #ccc;
}
