.ccform {
   margin: 0 auto;
    width: 800px;

}
.ccfield-prepend{
  margin-bottom:10px;
  width:100%;
    float: left;


}

.ccform-addon{
  color:#f8ae45;
  float:left;
  padding:8px;
  width:8%;
  background:#FFFFFF;
  text-align:center;
}

.ccformfield {
  color:#000000;
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
}

.ccformfield {
  font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
  display:block;
  border:none;
  background:#f8ae45;
  color:#FFFFFF;
  padding:12px 25px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
    float: right;

}
.ccbtn:hover{
  background:#d8850e;

}
.credit {
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px;
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}
