footer {
    clear: both;
    background-color: grey;
    padding: 15px;
    font-family: 'Raleway', Helvetica, sans-serif;
    /*position: absolute !important;
    bottom: 0;
    left: 50%;*/
    /*transform: translate(-50%);
    width: 100%;
    box-sizing: border-box;*/
    margin-top: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

footer a:hover {
    color: white;
    opacity: 1;
    background-color: grey !important;
}

#vector {
  opacity: 0.15;
}

#vector:hover {
    opacity:0.4;
}

body {
    position: relative !important;
}

@media only screen and (min-width: 700px) {
    footer {margin-top: 0};
}
