footer {
    clear: both;
    background-color: grey;
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

footer a:hover {
    color: white;
    opacity: 1;
    background-color: grey !important;
}

#vector {
  opacity: 0.3;
}

#vector:hover {
    opacity:0.5;
}
