body {
    background: #FFFDFA;
}

#findUs{
    text-align: center;
    font-size: 6em;
    font-family: 'Lobster';
    padding-top: 20px;
    margin-bottom: 0;
    white-space: nowrap;
    border-radius: 0;
}

#map {
    height: 400px;
    width: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 60px;

}

#emailUs, #likeUs, #callUs{
    text-decoration: none;
    color: black;
}


#emailUs:hover, #likeUs:hover, #callUs:hover{
    color: grey;
}

#directions{
    font-size: 1.5em;
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #FFFDFA;
}

.heading {
    font-weight: bold;
}

#mapArea{
  background-color: #FFFDFA;
}

.jumbotron{
   border-radius: 0;
   margin: 0;
   background-color: #FFFDFA;
}

#adress {
    border-radius: 0;
    font-family: 'Lobster';
}

.mapText{
    font-size: 2em;
    border-radius: 0;
    margin-bottom:0;
    padding-bottom: 0;
}

.padding-fix {
    padding: 0 !important;
}
