    #findUs{
    text-align: center;
    font-size: 6em;
    font-family: 'Lobster';
    padding-top: 20px;
    margin-bottom: 0;
    white-space: nowrap;
    border-radius: 0;
}

#map {
    height: 700px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

#emailUs, #likeUs, #callUs{
    text-decoration: none;
    color: black;
}


#emailUs:hover, #likeUs:hover, #callUs:hover{
    color: grey;
}

#directions{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDE6DE;
}

.heading {
    font-weight: bold;
}

.jumbotron{
   background-color:#EDE6DE !important;
   border-radius: 0;
   margin: 0;
}

#adress {
    border-radius: 0;
    font-family: 'Lobster';
}

.mapText{
    font-size: 2em;
    border-radius: 0;
    margin-bottom:0;
    padding-bottom: 0;
}

footer {
    clear: both;
}

footer a {
    text-decoration: none;
    color: lightgrey;
}

footer a:hover {
    color: white;
}