/* Set height of the grid so .sidenav can be 100% (adjust as needed) */


    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100vh;
    }

    .sidenav-col {
        padding-left: 0 !important;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
        height:auto;
      }
      .col-sm-10 {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
      }
    }

    /* CSS för slideshow: */

  /*  .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .carousel-inner {
      height: 200px;
    }
    .carousel-inner img { */
      /*border: 10px solid red;*/
    /*  width: 100%;
    } */
    /* CSS för kalender: */

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 202px;
    padding: 0;
    cursor: default;
    border: 1px solid #ccc;

    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;

    background: #FFFFFF;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 2px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
  text-align: center;
  padding-bottom: 0px;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #000000;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #000000;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    border-radius: 2px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span {
  display: none;
}

.ui-datepicker-prev:after {
  content: "\276E";
}

.ui-datepicker-next span {
  display: none;
}

.ui-datepicker-next:after {
  content: "\276F";
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar th {
    padding-top: 5px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #000000;
}

.ui-datepicker-calendar td {
    padding: 0 1px;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;

    text-decoration: none;
    color: #000000;

    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-default:hover {
    color: #39B647;
    border: 1px solid #39B647;
    border-radius: 5px;
}

.ui-datepicker-calendar .ui-state-active {
    color: #39B647;
    border: 1px solid #39B647;
    border-radius: 5px;
}

.ui-datepicker-other-month .ui-state-default { color: #CCCCCC; }


#submit {
    width: 100%;
    border-radius: 3px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

#date {
    width: 100%;
    margin-top: 5px;
}

.nights {
    float: right;
}

.para {
    margin-top: 5px;
}

.bookHead {
    font-family: 'Raleway', ;
    font-size: 1.5em;
}

body {
    overflow-x: hidden;
    background-color: #FFFDFA !important;
    font-family: 'Raleway', sans-serif;
}



.testpadding {
    padding: 0;
}

.loginForm {
    width: 250px;
    background: #F1F1F1;
    border: 0;
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 120px;
    text-align: center;
    border-radius: 13px;
}

.loginForm input {
    margin-bottom: 5px;
}

.loginSubmit {
    background: #39B647;
    border: 0;
    box-shadow: 1px 1px 0 0 #0B821A;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
/* ---- Här tog jag bort slide css, de behövs ej!----
.slide-pics {*/
    /*position: absolute;*/
    /*min-width: 1280px;
    height: 200px !important;
}*/
/*.indexinfo{*/
  /*width: 90%;*/
/*}*/

.flex-pic {
    display: flex;
}

.col-pic {
    flex-grow: 1;
}

.content-area {
    padding: 20px 20px 20px 0px;
}
img{
   box-shadow: 2px 2px 5px #888888;
}

.rubrik{
margin-bottom: 1px;
font-weight: bold;
}

.img-circle{
  width: 230px;
  height: 230px;
}
