/* Remove the navbar's default margin-bottom and rounded borders */
/*Fixat menyn!!*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border-top: 1px solid #39B647;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	background-color: #f1f1f1;
	color: #000000;
    box-shadow: 0px 3px 2px 0px rgba(212,212,212,0.65);
}

.navbar-collapse {
	float: right;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #39B647 !important;
    padding-left: 30px;
}

.navbar-brand:hover {
    color: #000 !important;
}

.gladaGetenNavbar a:hover{
    color: #333 !important;
}

.active2 {
    background: #39B647;
}

.active2 a {
    color: #fff !important;
}

@media screen and (max-width: 767px) {
    .navbar-header-small {
        padding-right: 10px;
    }

    .navbar-collapse {
        /*padding-right: 40px;*/
        overflow-y: hidden;
    }
}
