/* Remove the navbar's default margin-bottom and rounded borders */
/*Fixat menyn!!*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border-top: 1px solid #39B647;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	background-color: #f1f1f1;
	color: #000000;
}

.navbar-collapse {
	float: right;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #39B647 !important;
}

.navbar-brand:hover {
    color: #000 !important;
}

.navbar-header {
    padding-left: 10px;
}

.gladaGetenNavbar a:hover{
    color: #333 !important;
}

.active2 {
    background: #39B647;
}

.active2 a {
    color: #fff !important;
}
